<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= title || 'No-Code Transition Roadmap' %></title>
  
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <meta name="description" content="<%= description || 'Transition from no-code tools to custom development solutions.' %>">
  <meta property="og:title" content="<%= title || 'No-Code Transition Roadmap' %>">
  <meta property="og:description" content="<%= description || 'Transition from no-code tools to custom development solutions.' %>">
  <meta property="og:type" content="website">
  <meta name="twitter:title" content="<%= title || 'No-Code Transition Roadmap' %>">
  <meta name="twitter:card" content="summary_large_image">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Lato:400,700&amp;display=swap">
  <link rel="stylesheet" type="text/css" href="https://pages.convertkit.com/templates/shared.css">
  <link rel="stylesheet" type="text/css" href="https://pages.convertkit.com/templates/franklin/franklin.css">
  
  <style>
    :root {
      --headings-font-family: Playfair Display, serif;
      --body-font-family: Lato, sans-serif;
      --background-background-image: url('terrain.svg');
      --background-opacity: 0.23;
      --background-background-color: #000000;
      --card-background-color: #ffffff;
      --bg_top-background-color: #ffffff;
      --page-background-color: #1d1d1d;
      --name-color: #ffffff;
      --name-font-weight: 700;
      --name-letter-spacing: 1px;
      --header-color: #ffffff;
      --header-font-weight: 700;
      --content_text-color: #bfbfbf;
      --form_header-color: #281841;
      --form_header-font-weight: 700;
      --form_content_text-color: #281841;
      --field-font-size: 18px;
      --field-color: #808080;
      --field-background-color: #ffffff;
      --field-border-radius: 0px;
      --field-font-weight: 400;
      --field-border-color: #dddddd;
      --button-color: #ffffff;
      --button-background-color: #E35200;
      --button-border-radius: 0px;
      --button-font-size: 14px;
      --button-font-weight: 700;
      --button-letter-spacing: 2px;
      --disclaimer-color: #666666;
      --disclaimer-font-size: 14px;
    }
    
    body {
      margin: 0;
      padding: 0;
    }

    body>.formkit-form {
      margin: 80px auto;
    }

    .success-btn {
      border: 0;
      border-radius: 5px;
      color: #ffffff;
      background-color: #E35200;
      cursor: pointer;
      display: inline-block;
      text-align: center;
      font-family: inherit;
      font-size: 15px;
      font-weight: 500;
      margin: 20px 0;
      overflow: hidden;
      padding: 17px 24px;
      position: relative;
      vertical-align: middle;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      text-transform: uppercase;
      width: 100%;
      text-decoration: none;
    }

    .success-btn:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  </style>
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167957319-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-167957319-3');
  </script>

  <!-- rb2b.com -->
  <script>!function () {var reb2b = window.reb2b = window.reb2b || [];if (reb2b.invoked) return;reb2b.invoked = true;reb2b.methods = ["identify", "collect"];reb2b.factory = function (method) {return function () {var args = Array.prototype.slice.call(arguments);args.unshift(method);reb2b.push(args);return reb2b;};};for (var i = 0; i < reb2b.methods.length; i++) {var key = reb2b.methods[i];reb2b[key] = reb2b.factory(key);}reb2b.load = function (key) {var script = document.createElement("script");script.type = "text/javascript";script.async = true;script.src = "https://s3-us-west-2.amazonaws.com/b2bjsstore/b/" + key + "/reb2b.js.gz";var first = document.getElementsByTagName("script")[0];first.parentNode.insertBefore(script, first);};reb2b.SNIPPET_VERSION = "1.0.1";reb2b.load("9NMMZHPXPWNW");}();</script>
</head>

<body data-template="Franklin">
  <%- yield %>
  
</body>

</html>